%div.row
  %h1.right
    = @date.strftime("%h %Y")

%ul.inline-list.right
  - (1.year.ago.to_date..Date.today).select { |d| d.day == 1 }.each do |date|
    %li{ :class => ("strong" if date.month == @date.month) }
      = link_to_unless date.month == @date.month, date.strftime("%b"), "/dashboard/#{date.year}/#{date.month}"

%hr

%div.large-3.columns
  %h2
    Summary
  = render :partial => 'expenses/summary'
%div.large-8.columns
  %h2
    Expenses
    %small
      = link_to "new", '#', 'data-reveal-id' => 'quick-add-modal'

  - @expenses_by_week.each_pair do |date, expenses|
    %h3
      = date.to_s(:week)
    = render :partial => 'home/expenses', :locals => { :expenses => expenses }
