%div.row
  %h1.right
    = @date.strftime("%h %Y")

%ul.inline-list.right
  - (1.year.ago.to_date..Date.today).select { |d| d.day == 1 }.each do |date|
    %li{ :class => ("strong" if date.month == @date.month) }
      = link_to_unless date.month == @date.month, date.strftime("%b"), "/dashboard/#{date.year}/#{date.month}"

%hr

%h2
  Quick-add
= render :partial => 'expenses/form_inline'

%div.large-7.columns
  %h2
    Budget
  = render :partial => 'categories/monthly_spend'
%div.large-5.columns
  %h2
    Expenses
  = render :partial => 'home/expenses'
