%div.row
  %h1.right
    = @date.strftime("%h %Y")

%ul.inline-list.right
  - (1.year.ago.to_date..Date.today).select { |d| d.day == 1 }.each do |date|
    %li{ :class => ("strong" if date.month == @date.month) }
      = link_to_unless date.month == @date.month, date.strftime("%b"), "/dashboard/#{date.year}/#{date.month}"

%hr

%div.row
  %div.large-4.columns.right
    %h2
      Quick-add
    = render :partial => 'transactions/form_inline'
  %div.large-4.columns.right
    %h2
      Budget
    = render :partial => 'categories/monthly_spend'
  %div.large-4.columns.left
    %h2
      Transactions
    = render :partial => 'home/transactions'
