= form_for @transaction do |f|
  - if @transaction.errors.any?
    #error_explanation
      %h2= "#{pluralize(@transaction.errors.count, "error")} prohibited this transaction from being saved:"
      %ul
        - @transaction.errors.full_messages.each do |msg|
          %li= msg

  %fieldset.large-2
    %legend Quick-add
    %div
      = f.label :date
      = f.text_field :date, :value => Date.today.to_s(:short)
    %div
      = f.label :amount
      = f.text_field :amount, :autofocus => true
    %div
      = fields_for @transaction.build_category do |category_fields|
        = category_fields.label :category_name
        = category_fields.text_field :name
    %div
      = f.label :direction
      = f.select :direction, ['Out', 'In']
    = f.submit 'Save', :class => "button small inline prefix"
